{% set main_width = theme.layout.main_width|default(8) %}
{% set aside_width = theme.layout.aside_width|default(4) %}
{% setcontent pages = 'pages' %}
<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ app.config.get('general/sitename') -}}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
        </title>
        <script type="text/javascript" src="{{ app.config.get('general/styles') }}"></script>
        {% block headincludes %}
        {% endblock headincludes %}
    </head>
    <body>
        <div class="page-scroller__wrapper">
        {% block body %}
            <section class="page-scroller__section">
                <div class="flex-slide__wrapper hero">

                    {% block main %}
                    {% endblock main %}

                </div>
            </section>
            {% for page in pages %}
                {% include 'partials/_section.twig' %}
            {% endfor %}
        {% endblock body %}
        </div>
        {% block bottomincludes %}
        {% endblock bottomincludes %}
    </body>
</html>
